*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    transition:0.3s;
}

body.dark{
    background:linear-gradient(135deg,#141e30,#243b55);
}

.container{
    width:90%;
    max-width:900px;
    text-align:center;
}

h1{
    color:white;
    margin-bottom:20px;
    font-weight: bold;
    font-style: italic;
}

.weatherform{
    margin-bottom:20px;
}

.cityinput{
    padding:12px;
    width:250px;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

#themeToggle{
    position:absolute;
    top:20px;
    right:20px;
}

#locationBtn{
    margin-bottom:20px;
}

.card{
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.2);
    padding:25px;
    border-radius:20px;
    color:white;
    display:none;
    flex-direction:column;
    align-items:center;
}

.cityDisplay{
    font-size:2.5rem;
}

.tempDisplay{
    font-size:3rem;
    font-weight:bold;
}

.weatherEmoj{
    font-size:5rem;
}

.forecast-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:15px;
    margin-top:20px;
}

.forecast-card{
    backdrop-filter:blur(10px);
    background:rgba(255,255,255,0.2);
    border-radius:15px;
    padding:15px;
    color:white;
}

.errorDisplay{
    color:red;
    font-size:1.5rem;
    font-weight:bold;
}
