*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    background:   oragered;
}

body{
    background:#f4f4f4;
    padding:30px;
    background-color: #ff6b35;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:30px;
    color:white;
}

.restaurant-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.restaurant-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.restaurant-card h3{
    margin-bottom:10px;
}

.menu-item{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}

button{
    padding:8px 14px;
    border:none;
    background:green;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#e85d2a;
}

.cart-section,
.order-section{
    background:white;
    margin-top:30px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    color: green;
}

#cartItems li{
    margin:10px 0;
}

input,
select{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

.place-order-btn{
    width:100%;
    margin-top:10px;
    font-size:16px;
}

.order-log{
    margin:10px 0;
    padding:10px;
    background:#f7f7f7;
    border-left:4px solid green;
}